.activitysnippet {
    display: inline-block;

}

.activitysnippet-item {
	cursor: default;
}

.activitysnippet-icon {
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: black;

    @include m( inactive ) {
		// fill: none;
	}

	@include m( disabled ) {
		opacity: 0.2;
		cursor: default;
	}
}

.activitysnippet-count {
	padding: 0.5em;
	vertical-align: text-bottom;
	cursor: default;
}

.activitysnippet--white .activitysnippet-icon {
	fill: white;
}

.activitysnippet--white .activitysnippet-count {
	color: white;
}

.activitysnippet--gold .activitysnippet-icon {
	fill: gold;
}

.activitysnippet--gold .activitysnippet-count {
	color: gold;
}