<span class="activitysnippet-item">
    <a class="activitysnippet-link"><i class="activitysnippet-icon{{#if disabled}} activitysnippet-icon--disabled{{/if}}{{#unless active}} activitysnippet-icon--inactive{{/unless}}{{#if state}} activitysnippet-icon--verbed{{/if}}">
        {{#if state}}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16px" height="16px" viewBox="0 0 31.997 32" enable-background="new 0 0 31.997 32" xml:space="preserve">
                <g>
                    <polygon points="31.999,6.174 26.946,6.174 26.946,1.122 23.702,1.122 23.702,6.174 18.651,6.174 18.651,9.418 23.702,9.418
                        23.702,14.47 26.946,14.47 26.946,9.418 31.999,9.418     "/>
                    <path d="M23.042,24.446c-1.264-2.201-6.571-3.206-7.329-4.919c-0.758-1.71-0.166-1.825,0.336-2.561
                        c0.508-0.73,0.674-2.818,0.674-2.818s0.762,0.06,0.93-0.306c0.17-0.367,0.697-2.983,0.354-3.205
                        c-0.225-0.144-0.271-0.152-0.277-0.145c0.014-0.124,0.234-2.485-0.305-4.281c-0.492-1.629-2.042-2.909-4.417-3.239l0.002-0.002
                        L9.294,2.152l0.576,0.761l-1.646-0.27l0.489,0.643L5.47,4.596l1.009,0.521L4.792,6.235l0.876,0.011L5.13,8.058l0.73-0.753
                        l0.452,1.608c-0.017,0.829,0.068,1.392,0.068,1.392s-0.017,0.135-0.359,0.354c-0.341,0.221,0.132,2.792,0.304,3.16
                        c0.17,0.367,0.988,0.342,0.988,0.342s0.135,2.007,0.642,2.74c0.505,0.734,1.163,0.962,0.37,2.658
                        c-0.639,1.367-5.848,2.417-7.111,4.618C-0.049,26.38,0,32,0,32h24.236C24.237,32,24.303,26.647,23.042,24.446z"/>
                </g>
        </svg>
        {{else}}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16px" height="16px" viewBox="0 0 31.997 32" enable-background="new 0 0 31.997 32" xml:space="preserve">
                <g>
                    <polygon points="31.999,6.174 26.946,6.174 26.946,1.122 23.702,1.122 23.702,6.174 18.651,6.174 18.651,9.418 23.702,9.418
                        23.702,14.47 26.946,14.47 26.946,9.418 31.999,9.418     "/>
                    <path d="M23.042,24.446c-1.264-2.201-6.571-3.206-7.329-4.919c-0.758-1.71-0.166-1.825,0.336-2.561
                        c0.508-0.73,0.674-2.818,0.674-2.818s0.762,0.06,0.93-0.306c0.17-0.367,0.697-2.983,0.354-3.205
                        c-0.225-0.144-0.271-0.152-0.277-0.145c0.014-0.124,0.234-2.485-0.305-4.281c-0.492-1.629-2.042-2.909-4.417-3.239l0.002-0.002
                        L9.294,2.152l0.576,0.761l-1.646-0.27l0.489,0.643L5.47,4.596l1.009,0.521L4.792,6.235l0.876,0.011L5.13,8.058l0.73-0.753
                        l0.452,1.608c-0.017,0.829,0.068,1.392,0.068,1.392s-0.017,0.135-0.359,0.354c-0.341,0.221,0.132,2.792,0.304,3.16
                        c0.17,0.367,0.988,0.342,0.988,0.342s0.135,2.007,0.642,2.74c0.505,0.734,1.163,0.962,0.37,2.658
                        c-0.639,1.367-5.848,2.417-7.111,4.618C-0.049,26.38,0,32,0,32h24.236C24.237,32,24.303,26.647,23.042,24.446z"/>
                </g>
        </svg>
        {{/if}}
    </i></a><span class="activitysnippet-count">{{ count }}</span>
</span>

