<span class="activitysocial-item">
    <a href="#"><i class="activitysocial-icon  fa {{#if activityState }} fa-eye {{else}} fa-eye-slash {{/if}}"></i></a><span>{{activity.object.counts}}
    Represents Watched Activity
</span>
